/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* shared styles */
.display-flex{
    display: flex;
}

header,main, footer{
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary{
    width: 196px;
    height: 44px;
    background-color: rgba(224, 44, 109, 1);
    border-radius: 41px;
    color: white;
    border: none;
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: 700; 
    display: flex;
    gap: 10px;
    align-items: center;
}
/* navber styles */
.navber-container{
    justify-content: space-between;
    margin-top: 87px;
    align-items: center;
}

.navber-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-items{
    list-style: none;
    gap: 34px;
    

}

.nav-items li a{
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;


}

/* hero section styles */
.hero-container{
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 133px;

}

.hero-title{
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 10px;
    width: 582px;
    color:rgb(58, 58, 58);


}

.hero-description{
    font-size: 1rem;
    font-weight: 500;
    width: 505px;
    margin-top: 8px;
    color: rgb(102, 90, 90);

}

.hero-image-1{
    position: absolute;


}

.hero-image-2{
    position: relative;
    left: 20px;
    top: 40px;
    
}

/* Sponsor Styles section */
.sponsor-section{
    height: 110px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 106px;
    align-items: center;
    padding-left: 130px;

    
}
/* product section styles */
.product-collection{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;

}


.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 95px;
    
}

.product-card{
    margin: auto;
    border: none;
    margin-bottom: 30px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 14px;
    padding-bottom: 0px;
    border-radius: 8px;
}


.rating i{
    color: goldenrod;
}

.rating{
    align-items: center;
    gap: 15px;
}

.product-title{
    font-size: 2rem;
    font-weight: 600;
    margin: 0px;
}

.price{
    font-size: 1.50rem;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 0px;
}

.product-sub{
    margin-top: 0px;
    font-size: 0.8rem;
    font-weight: 700;
    color: rgba(120, 120, 133, 1);

}
.see-more{
    width: 100%;
    text-align: right;
    padding-left: 20px;
    margin-left: -90px;

}
 .see-more a{
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1.25rem;
    font-weight: 500;

 }


 .features-container{
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
 }

 .features-image{
    margin-left: 80px;
 }
 .features-image img{
    width: 100%;
 }

 .features-info{
    margin-right: 80px;
 }

 .features-title{
    font-size: 2.50rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
 }

 .features-description{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(108, 108, 108, 1);
    width: 501px;
    margin-top: 10px;
 }

 .features-btn{
    width: 155px;
    height: 44px;
    padding: 10px 24px;
    border: none;
    color: white;
    background-color: rgba(224, 44, 109, 1);
    border-radius: 8px;
    text-align: center;
    
 }


 /* footer styles start */
.footer-container{
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    background-color: black;
    padding: 30px;
}


 .footer-title{
    font-size: 1.5rem;
    font-weight:700 ;
    color: white;
    text-align: center;
    margin-bottom: 10px;
 }


 .footer-copyright,.copyright{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

 }

 .icon{
    color:white;
    text-align: center;
 }
 
  /* responsive styles */
  @media screen and (max-width: 576px) {
    .navber-container, 
    .hero-section, 
    .see-more{
        flex-direction: column;
        margin-top: 10px;
    }

    .hero-container{
        flex-direction: column-reverse;
        gap: 30px;
           
    }

    .hero-section{
        padding-left:40%;
        
    }
    .hero-title{
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 10px;
    width: 404px;
    text-align: center;
    padding-right: 60px;

    }

    .hero-description{
        font-size: 14px;
        width: 380px;
        text-align: center;
        padding-right: 60px;
    }

    .hero-image-1{
        width: 300px;
        height: 300px;
    }
    .hero-image-2{
        width: 240px;
        height: 240px;
        left: 20px;
        bottom: -35px;
    }

    .btn-primary{
        margin: 0 80px  ;
    }

    .sponsor-section{
        flex-direction: column;
        grid-template-columns: repeat(4,1fr);
        padding-left: 50px;
        gap: 30px;
        align-items: center;
        margin-top: 20px;
        border: none;
        

        
    }
    .sponsor-section img{
        width: 80px;
        height: 80px;
    }

    .product-collection{
        margin-top: 100px;
    }

    .product-container{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }
    .product-card{
        margin-left: 70px;
    }

    .features-container{
        flex-direction: column-reverse;
    }

    .features-image{
        margin-left: 60px;
        margin-top: 20px;
    }

     .features-title{
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 317px;
    text-align: center;
 }

 .features-description{
    font-size: 0.75rem;
    font-weight: 500;
    color: rgba(108, 108, 108, 1);
    margin-top: 10px;
    width: 317px;
    text-align: center;
 }

 .features-info{
    margin-right: 0px;
    margin-left: 50px;
    text-align: center;
 }



    
}